<aside class="main-sidebar sidebar-dark-primary elevation-4">

        <a href="index3.html" class="brand-link">
          <span class="brand-text font-weight-light">Student Cabinet</span>
        </a>

        <div class="sidebar">

          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
              <a href="#" class="d-block">Ruslan Rustamov</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a href="/home" class="nav-link {{isActive1}}">
                  <i class="nav-icon fas fa-home"></i>
                  <p>Asosiy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/groups" class="nav-link {{isActive2}}">
                  <i class="nav-icon fas fa-people-group"></i>
                  <p>Guruhlarim</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/courses" class="nav-link {{isActive3}}">
                  <i class="nav-icon fas fa-people-group"></i>
                  <p>Courses</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/payments" class="nav-link {{isActive4}}">
                  <i class="nav-icon fas fa-credit-card"></i>
                  <p>To'lovlar</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>